/* Google Font's Droid Sans */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  /*src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.ttf') format('truetype');*/
}


/* Google Font's Droid Sans Bold */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  /*src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../fonts/DroidSans-Bold.ttf') format('truetype');*/
}
