/* 
*   NEW CSS MEDIA QUERIES
*
*/

@media screen and (max-height: 640px) {}

@media screen and (min-width: 300px) {

  /* container that holds both welcome box and login box */
  #login-box-wrapper {
    display: block !important;
    width: auto !important;
    margin: -5px;
  }

  #signup-container .back-bg {
    height: auto !important;
  }

  #login-container .back-bg {
    height: auto !important;
  }

  /* bg of kL */
  #reset-container .back-bg {
    height: 100%;
  }

  #reset-password-container .back-bg {
    height: 100%;
  }

  #profile-form .form-group {
    display: block;
    text-align: center;
  }

  #profile-form .form-group label {
    width: auto;
  }

  #profile-form #deleteAccountButton {
    float: right;
  }

  #redeemBox {
    position: relative;
    left: 0;
  }
}


@media screen and (min-width: 300px) {
  #favoriot-pay-logo img {
    width: 100%;
  }
}

@media screen and (min-width: 400px) {
  #favoriot-pay-logo img {
    width: unset;
  }
}

@media screen and (min-width: 300px) and (max-width: 769px) {

  /* toggle sidebar button */
  /* found on top navbar */
  .toggle-sidebar-button {
    display: none !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {

  /* toggle top bar items */
  /* collapse list of drop down items when click */
  .navbar-header>button.navbar-toggle {
    margin-left: 15px !important;
  }

  /* top bar nav bell icon badge */
  /* position/style proper for mobile */
  .badge {
    position: relative !important;
    top: -20px !important;
    right: 15px !important;
  }

  /* the drop down list item */
  /* inside top bar nav */
  .navbar-right li a {
    margin-left: 10px;
  }

  .action-container button {
    margin-right: auto !important;
  }

  /* graphboard container that house graphboard box*/
  .center-box {
    display: inline-block;
  }
}

@media screen and (max-height: 490px) {

  /* success box */
  .success {
    height: auto !important;
  }
}

@media screen and (min-width: 634px) {
  #login-box-wrapper {
    display: flex !important;
  }

  #login-container .back-bg {
    height: 100% !important;
  }
}

@media screen and (min-width: 767px) {
  .sidebar {
    left: 180;
  }

  #login-box-wrapper {
    margin: 10%;
  }

  .badge {
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
  }

  .navbar-right li a {
    margin-left: 0px;
  }

  #profile-form #deleteAccountButton {
    float: none;
  }

  #profile-form .form-group {
    text-align: unset;
  }
}

@media screen and (min-width: 768px) {
  #login-box-wrapper {
    display: flex !important;
  }

  #signup-container .back-bg {
    height: auto !important;
  }
}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .action-container button {
    margin-right: auto !important;
  }
}

@media screen and (min-width: 992px) {
  #signup-container .back-bg {
    height: 100% !important;
  }

  .action-container button {
    margin-right: 22% !important;
  }

  #login-box-wrapper {
    /* width: 1000px !important; */
    margin: -50px;
  }

  #redeemBox {
    position: absolute;
    left: 30%;
  }
}

@media screen and (min-width: 1025px) {
  #signup-container .back-bg {
    height: 100% !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {}

@media screen and (min-width: 1220px) {
  #login-box-wrapper {
    /* width: 1000px !important; */
    margin: 0px;
  }
}

@media screen and (max-width: 1440px) {}
