/* SPINNER */
.spinner {
  background: url('../img/login-bg-kl-compress.jpg') no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20% !important;
}

.inapp-spinner {
  background-color: white;
  background-size: 100% 100%;
  min-height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20% !important;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -mos-flex-direction: row;
  -o-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.spinner h4 {
  margin: 0;
  color: #F5F5F5;
}

.spinner-logo {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.sk-cube-grid {
  display: inline-block;
  width: 60px;
  height: 60px;
}


div.inapp-spinner .sk-cube-grid {
  display: inline-block;
  width: 90px;
  height: 90px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #B90083;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
